@font-face {
    font-family: 'AnkhSanctuary';
    src: url('fonts/ankh-sanctuary-font/AnkhSanctuary-PVK0B.ttf') format('truetype');
}
@font-face {
    font-family: 'Sterion';
    src: url('fonts/sterion-font_texto/SterionItalic-R99PA.ttf') format('truetype');
}

body {
    background-color: rgb(38, 32, 75);
    background-image: url(./images/cosmos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'AnkhSanctuary', 'Courier New', Courier, monospace, sans-serif;
}

header, 
footer, 
a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(5px);
}

header {
    box-sizing: border-box; 
    height: 3.5rem;
    width: 100%;
    padding: 8px;
}

.img-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.img-header img {
    max-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    background-color: antiquewhite;
    border-radius: 50%;
}

main {
    flex: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
}

h1 {
    font-size: 8rem;
    font-style: italic;
    margin-bottom: 0;
}

p {
    margin-top: -15px;
    text-shadow: 2px 2px 4px rgba(255, 233, 182, 0.8);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li a {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    border-radius: 8%;
    border: 1px solid black;
    padding: 8px;
}

a:hover img {
    transform: scale(1.1);
}

a:active {
    color: #A0A0FF;
}

a:visited {
    color: #FFD700;
}

li img {
    height: 4rem;
}


li span {
    margin-top: 8px;
    font-size: 0.8rem;
    color: honeydew;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

footer {
    width: 100%;
    height: auto;
    min-height: 4rem;
    font-size: 0.8em;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.spaceMan {
    position: absolute;
    width: 20vh;
    height: auto;
    border-radius: 100%;
    margin: auto 150px;
}
