/* PROJETOS SECTION */
#projects {
    background-color: #FFB380; /* Laranja pastel */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF8E7 ; /* Creme polaroid */
    margin: 20% 10%;    
    padding: 2rem 5rem;
}

#projects h2 {
    font-size: 3rem;
    margin: 2rem 0;
}

#projects h3 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    font-style: italic;
}

/* ===== CONTAINER PARA OS POLAROID ===== */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ===== POLAROID ===== */
.projects-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: -2rem;
}
.polaroid-frame {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #FFF8E7;
    width: 200px;
    height: 240px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
}
.polaroid-frame img {
    border: 1px solid black;
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.3s ease;
    padding: 2px;
    background-color: honeydew;
}
.polaroid-caption {
    font-size: 14px;
    font-weight: 400;        
    font-family: 'Miniver', cursive;
    color: black;
    margin-top: 8px;
}
.polaroid-date {
    font-family: cursive;
    font-size: 10px;   
    font-weight: 400;      
    color: #666;
    margin-bottom: 8px;
}

.polaroid-frame a {
    color: inherit;
    text-decoration: none;
}

.polaroid-frame:hover {
    transform: translateY(-5px);
    filter: saturate(0.7) contrast(0.9) sepia(0.5);
}
